extends layout.pug

block content
  if (departments)
    form#request-auth-token
      include includes/departments-select.pug

      button(type=submit) Request new token

  if (link)
    a(href=link)= link

block scripts
  script
    include scripts/login-script.js
