header
  .d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.pb-3.mb-4.border-bottom
    a(href="/").text-dark.text-decoration-none
      h2.d-flex.align-items-center
        if project.logo
          span.site-logo.me-3
            img(src= project.logo).w-100
        else
          span.badge.bg-dark.me-2= `${project.name.split(' ').map((w) => w.slice(0, 1).toUpperCase()).join('')}`

        span.fs-4= project.name

    nav.d-flex.flex-wrap.justify-content-center
      if user.isCrew
        a(href="/dtr").btn.btn-pill.btn-success.me-3.px-4.js-new-timesheet + New DTR
      if user.isCrew
        a(href="/dtr/report").me-3.py-2.text-dark.text-decoration-none Reports
      if user.isAdmin
        a(href="/account-management").me-3.py-2.text-dark.text-decoration-none Accounts
      if user.isProjectAdmin
        a(href="/project-management").py-2.text-dark.text-decoration-none Departments
