doctype html

html(lang="en")
  include includes/head.pug

  body.bg-light
    include includes/header.pug

    .container
      include includes/flash.pug

      block content

    include includes/footer.pug

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=", crossorigin="anonymous")

    block scripts
