extends layout.pug

block content
    .row
        h1 Notifications
        div
            table.table
                thead
                    tr
                        th(colspan=2, width="100%") Notification
                        th(width=1) Remove
                tody
                    each notification in notifications
                        tr
                            td(colspan=2)
                                div(class="alert alert-"+notification.type).project-notification !{notification.msg}
                            td(width=1)
                                form(action=`/notifications/${notification.id}/delete` onSubmit="return confirm('Are you sure you want to remove the notification?')")
                                  button.btn.btn-light.text-danger(type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Notification") &times;

                tfoot
                    tr
                        td(colspan=3).container
                            form(method="post", action="/notifications/create").row.js-notification-form
                                .col-md-9
                                    .form-control
                                        #editor
                                .col-md-2
                                    select.form-control(name="type")
                                        option(value="primary") Blue
                                        option(value="danger") Red
                                        option(value="warning") Yellow
                                        option(value="success") Green
                                        option(value="secondary") Gray
                                .col-md-1
                                    button(type="submit").btn.btn-success +
    .row
        h1 Departments
        div.table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th Existing Departments
                        th Remove
                tbody
                  each department in departments
                      tr
                          td= department.name
                          td
                              if department.custom
                                form(action=`/departments/${department.id}/delete` onSubmit="return confirm('Are you sure you want to remove the department?')")
                                  button.btn.btn-light.text-danger(type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Department") &times;

                tfoot
                    tr
                        td(colspan=3)
                            form(method="post", action="/departments").row.row-cols-lg-auto.g-3.align-items-center
                                .col
                                    input.form-control(required, value= department, name=`name` placeholder="New department name")
                                .col
                                    button(type="submit").btn.btn-success +

block styles
  link(rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.bubble.css")

block scripts
  script(src="//cdn.quilljs.com/1.3.6/quill.js")
  script
    include scripts/project-management-script.js
