extends layout.pug

block content
    .row
        h1 Departments
        div.table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th Existing Departments
                        th Remove
                tbody
                  each department in departments
                      tr
                          td= department.name
                          td
                              if department.custom
                                form(action=`/departments/${department.id}/delete` onSubmit="return confirm('Are you sure you want to remove the department?')")
                                  button.btn.btn-light.text-danger(type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Department") &times;

                tfoot
                    tr
                        td(colspan=3)
                            form(method="post", action="/departments/create").row.row-cols-lg-auto.g-3.align-items-center
                                .col
                                    input.form-control(required, value= department, name=`name` placeholder="New department name")
                                .col
                                    button(type="submit").btn.btn-success +
