html {
  overflow-y: scroll;
  height: 100%;
}

.report tbody tr:nth-child(1n + 2) td:nth-child(1) span,
.report tbody tr:nth-child(1n + 2) td:nth-child(2) span {
  visibility: hidden;
}

.report-sticky {
  position: sticky;
  top: 0;
  background-color: white !important;
}
