html {
  overflow-y: scroll;
  height: 100%;
}

.report tbody tr:nth-child(1n + 2) td:nth-child(1) span,
.report tbody tr:nth-child(1n + 2) td:nth-child(2) span {
  visibility: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.report-sticky {
  position: sticky;
  top: 0;
  background-color: white !important;
}

.site-logo {
  max-width: 2rem;
}

@media screen and (min-width: 992px) {
  .js-agent .row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0;
  }

  .js-agent {
      /* Override for .card having flex-column*/
      flex-direction: row !important;
  }
}

@media screen and (min-width: 1200px) {
  --bs-gutter-x: 1.5rem;
}

.btn-pill {
  border-radius: 100px;
}

@media screen and (max-width: 500px) {
  .js-new-timesheet {
    order: 666;
  }
}

@media screen and (max-width: 767.9px) {
  .time-field__work-start {
    order: 1;
  }

  .time-field__lunch-start {
    order: 3;
  }

  .time-field__lunch-stop {
    order: 4;
  }

  .time-field__work-stop {
    order: 2;
  }
}

.ql-editor {
  padding: 0 !important;
}

.ql-editor:last-child {
  margin-bottom: 0;
}

.js-scrolling-container {
  overflow-y: auto;
  max-height: 5rem;
}

.project-notification > *:last-child {
  margin-bottom: 0 !important;
}